# Análise

In [63]:
import pandas as pd

## Leitura dos Dados

In [64]:
df = pd.read_csv('base.csv').drop(0)

## Seleção dos Atributos da Análise

In [65]:
colunas_selecionadas = [
    'Grau Acadêmico', 
    'Modalidade de Ensino', 
    'Nome da Grande Área do Curso segundo a classificação CINE BRASIL', 
    'Ano de Ingresso', 
    'Quantidade de Ingressantes no Curso', 
    'Quantidade de Concluintes no Curso no ano de referência', 
    'Quantidade de Desistência no Curso no ano de referência'
]
df = df[colunas_selecionadas]

In [66]:
df

,Grau Acadêmico,Modalidade de Ensino,Nome da Grande Área do Curso segundo a classificação CINE BRASIL,Ano de Ingresso,Quantidade de Ingressantes no Curso,Quantidade de Concluintes no Curso no ano de referência,Quantidade de Desistência no Curso no ano de referência
1,1,1,"Negócios, administração e direito",2019,54,0,3
2,1,1,"Negócios, administração e direito",2019,54,0,7
3,1,1,"Negócios, administração e direito",2019,54,0,1
4,1,1,"Negócios, administração e direito",2019,54,0,9
5,1,1,"Negócios, administração e direito",2019,54,8,0
...,...,...,...,...,...,...,...
1911,1,1,Saúde e bem-estar,2019,42,0,0
1912,1,1,Saúde e bem-estar,2019,42,0,3
1913,1,1,Saúde e bem-estar,2019,42,0,1
1914,1,1,Saúde e bem-estar,2019,42,1,2
1915,1,1,Saúde e bem-estar,2019,42,21,0

## Conversão/Limpeza de Dados

In [67]:

df['Quantidade de Ingressantes no Curso'] = pd.to_numeric(df['Quantidade de Ingressantes no Curso'], errors='coerce').astype('Int64')
df['Quantidade de Concluintes no Curso no ano de referência'] = pd.to_numeric(df['Quantidade de Concluintes no Curso no ano de referência'], errors='coerce').astype('Int64')
df['Quantidade de Desistência no Curso no ano de referência'] = pd.to_numeric(df['Quantidade de Desistência no Curso no ano de referência'], errors='coerce').astype('Int64')

In [68]:
qt_concluintes_total = df['Quantidade de Concluintes no Curso no ano de referência'].sum()
qt_ingressantes_total = df['Quantidade de Ingressantes no Curso'].sum()
qt_desistencia_total = df['Quantidade de Desistência no Curso no ano de referência'].sum()